In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [102]:
dome_df = pd.read_csv("domestic-aviation_emissions_sources_confidence.csv", encoding='latin-1')

In [103]:
dome_df.shape

(236244, 16)

In [104]:
dome_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236244 entries, 0 to 236243
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   source_id           236244 non-null  int64
 1   source_name         0 non-null       float64
 2   iso3_country        236244 non-null  object
 3   sector              236244 non-null  object
 4   subsector           236244 non-null  object
 5   start_time          236244 non-null  object
 6   end_time            236244 non-null  object
 7   source_type         236244 non-null  object
 8   capacity            236244 non-null  object
 9   capacity_factor     236244 non-null  object
 10  activity            236244 non-null  object
 11  gas                 236244 non-null  object
 12  emissions_factor    236244 non-null  object
 13  emissions_quantity  236244 non-null  object
 14  created_date        0 non-null       float64
 15  modified_date       236244 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 28.8+ MB

In [105]:
dome_df.head()

,source_id,source_name,iso3_country,sector,subsector,start_time,end_time,source_type,capacity,capacity_factor,activity,gas,emissions_factor,emissions_quantity,created_date,modified_date
0,3170555,NaN,ABW,transportation,domestic-aviation,1/1/2023 0:00,1/31/2023 0:00,very low,very low,very low,very low,co2,very low,very low,NaN,5/15/2025 5:18
1,3170555,NaN,ABW,transportation,domestic-aviation,2/1/2023 0:00,2/28/2023 0:00,very low,very low,very low,very low,co2,very low,very low,NaN,5/15/2025 5:18
2,3170555,NaN,ABW,transportation,domestic-aviation,3/1/2023 0:00,3/31/2023 0:00,very low,very low,very low,very low,co2,very low,very low,NaN,5/15/2025 5:18
3,3170555,NaN,ABW,transportation,domestic-aviation,4/1/2023 0:00,4/30/2023 0:00,very low,very low,very low,very low,co2,very low,very low,NaN,5/15/2025 5:18
4,3170555,NaN,ABW,transportation,domestic-aviation,5/1/2023 0:00,5/31/2023 0:00,very low,very low,very low,very low,co2,very low,very low,NaN,5/15/2025 5:18

In [106]:
inter_df = pd.read_csv("international-aviation_emissions_sources_confidence.csv", encoding='latin-1')

In [107]:
inter_df.shape

(240167, 16)

In [108]:
inter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240167 entries, 0 to 240166
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   source_id           240167 non-null  int64
 1   source_name         0 non-null       float64
 2   iso3_country        240167 non-null  object
 3   sector              240167 non-null  object
 4   subsector           240167 non-null  object
 5   start_time          240167 non-null  object
 6   end_time            240167 non-null  object
 7   source_type         240167 non-null  object
 8   capacity            240167 non-null  object
 9   capacity_factor     240167 non-null  object
 10  activity            240167 non-null  object
 11  gas                 240167 non-null  object
 12  emissions_factor    240167 non-null  object
 13  emissions_quantity  240167 non-null  object
 14  created_date        0 non-null       float64
 15  modified_date       240167 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 29.3+ MB

In [109]:
inter_df.head()

,source_id,source_name,iso3_country,sector,subsector,start_time,end_time,source_type,capacity,capacity_factor,activity,gas,emissions_factor,emissions_quantity,created_date,modified_date
0,3165649,NaN,ABW,transportation,international-aviation,1/1/2021 0:00,1/31/2021 0:00,very high,high,medium,low,co2,very high,low,NaN,5/15/2025 5:18
1,3165649,NaN,ABW,transportation,international-aviation,2/1/2021 0:00,2/28/2021 0:00,very high,high,medium,low,co2,very high,low,NaN,5/15/2025 5:18
2,3165649,NaN,ABW,transportation,international-aviation,3/1/2021 0:00,3/31/2021 0:00,very high,high,medium,low,co2,very high,low,NaN,5/15/2025 5:18
3,3165649,NaN,ABW,transportation,international-aviation,4/1/2021 0:00,4/30/2021 0:00,very high,high,medium,low,co2,very high,low,NaN,5/15/2025 5:18
4,3165649,NaN,ABW,transportation,international-aviation,5/1/2021 0:00,5/31/2021 0:00,very high,high,medium,low,co2,very high,low,NaN,5/15/2025 5:18

In [110]:
print(dome_df.columns)
print(inter_df.columns)

Index(['source_id', 'source_name', 'iso3_country', 'sector', 'subsector',
       'start_time', 'end_time', 'source_type', 'capacity', 'capacity_factor',
       'activity', 'gas', 'emissions_factor', 'emissions_quantity',
       'created_date', 'modified_date'],
      dtype='object')
Index(['source_id', 'source_name', 'iso3_country', 'sector', 'subsector',
       'start_time', 'end_time', 'source_type', 'capacity', 'capacity_factor',
       'activity', 'gas', 'emissions_factor', 'emissions_quantity',
       'created_date', 'modified_date'],
      dtype='object')

In [111]:
print(dome_df.shape)
print(inter_df.shape)

(236244, 16)
(240167, 16)

In [112]:
print(dome_df['iso3_country'].nunique())
print(inter_df['iso3_country'].nunique())

237
237

In [113]:
common_countries = set(dome_df['iso3_country']).intersection(set(inter_df['iso3_country']))
print(len(common_countries))

237

In [114]:
columns_to_drop = ['gas', 'source_name', 'created_date', 'sector' , 'modified_date']

In [115]:
dome_df_clean = dome_df.drop(columns=columns_to_drop)

In [116]:
inter_df_clean = inter_df.drop(columns=columns_to_drop)

In [117]:
dome_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236244 entries, 0 to 236243
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   source_id           236244 non-null  int64
 1   iso3_country        236244 non-null  object
 2   subsector           236244 non-null  object
 3   start_time          236244 non-null  object
 4   end_time            236244 non-null  object
 5   source_type         236244 non-null  object
 6   capacity            236244 non-null  object
 7   capacity_factor     236244 non-null  object
 8   activity            236244 non-null  object
 9   emissions_factor    236244 non-null  object
 10  emissions_quantity  236244 non-null  object
dtypes: int64(1), object(10)
memory usage: 19.8+ MB

In [118]:
inter_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240167 entries, 0 to 240166
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   source_id           240167 non-null  int64
 1   iso3_country        240167 non-null  object
 2   subsector           240167 non-null  object
 3   start_time          240167 non-null  object
 4   end_time            240167 non-null  object
 5   source_type         240167 non-null  object
 6   capacity            240167 non-null  object
 7   capacity_factor     240167 non-null  object
 8   activity            240167 non-null  object
 9   emissions_factor    240167 non-null  object
 10  emissions_quantity  240167 non-null  object
dtypes: int64(1), object(10)
memory usage: 20.2+ MB

In [119]:
common_countries = set(dome_df_clean['iso3_country']).intersection(set(inter_df_clean['iso3_country']))

In [120]:
final_list = []

In [121]:
for country in common_countries:
    dome_country = dome_df_clean[dome_df_clean['iso3_country'] == country]
    inter_country = inter_df_clean[inter_df_clean['iso3_country'] == country]

In [122]:
final_emiss_df= pd.merge(dome_country, inter_country, on='iso3_country', how='inner')
final_list.append(final_emiss_df)

In [123]:
final_emiss_df = pd.concat(final_list, ignore_index=True)

In [124]:
final_emiss_df.to_csv('final_emissions_data.csv', index=False)

In [125]:
columns_to_keep = [
    'source_id', 'iso3_country', 'subsector',
    'start_time', 'end_time', 'source_type', 'capacity', 'capacity_factor',
    'activity', 'emissions_factor', 'emissions_quantity'
]

In [126]:
dome_df_clean = dome_df[columns_to_keep]
inter_df_clean = inter_df[columns_to_keep]

In [127]:
final_emiss_df = pd.concat([dome_df_clean, inter_df_clean], ignore_index=True)

In [128]:
print(final_emiss_df.shape)

(476411, 11)

In [129]:
final_emiss_df.head()

,source_id,iso3_country,subsector,start_time,end_time,source_type,capacity,capacity_factor,activity,emissions_factor,emissions_quantity
0,3170555,ABW,domestic-aviation,1/1/2023 0:00,1/31/2023 0:00,very low,very low,very low,very low,very low,very low
1,3170555,ABW,domestic-aviation,2/1/2023 0:00,2/28/2023 0:00,very low,very low,very low,very low,very low,very low
2,3170555,ABW,domestic-aviation,3/1/2023 0:00,3/31/2023 0:00,very low,very low,very low,very low,very low,very low
3,3170555,ABW,domestic-aviation,4/1/2023 0:00,4/30/2023 0:00,very low,very low,very low,very low,very low,very low
4,3170555,ABW,domestic-aviation,5/1/2023 0:00,5/31/2023 0:00,very low,very low,very low,very low,very low,very low

In [130]:
final_emiss_df.tail()

,source_id,iso3_country,subsector,start_time,end_time,source_type,capacity,capacity_factor,activity,emissions_factor,emissions_quantity
476406,3169756,ZWE,international-aviation,11/1/2024 0:00,11/30/2024 0:00,very high,very high,medium,medium,very high,medium
476407,3169756,ZWE,international-aviation,12/1/2024 0:00,12/31/2024 0:00,very high,very high,medium,medium,very high,medium
476408,3169756,ZWE,international-aviation,1/1/2025 0:00,1/31/2025 0:00,very high,very high,medium,medium,very high,medium
476409,3169756,ZWE,international-aviation,2/1/2025 0:00,2/28/2025 0:00,very high,very high,medium,medium,very high,medium
476410,3169756,ZWE,international-aviation,3/1/2025 0:00,3/31/2025 0:00,very high,very high,medium,medium,very high,medium

In [131]:
final_emiss_df.to_csv('final_emissions_data_cleand.csv', index=False)

In [132]:
print(final_emiss_df['source_type'].unique())

['very low' 'very high']

In [133]:
df = pd.read_csv('final_emissions_data_cleand.csv')

In [134]:
label_map = {
    'very low': 1,
    'low': 2,
    'medium': 3,
    'high': 4,
    'very high': 5
}
columns_to_convert = [
    'source_type',
    'capacity',
    'capacity_factor',
    'activity',
    'emissions_factor',
    'emissions_quantity'
]
for col in columns_to_convert:
    if col in df.columns:
        df[col] = df[col].map(label_map)

In [135]:
df.to_csv('aviation_data_updated.csv', index=False)

In [136]:
pip install pycountry world_bank_data

Requirement already satisfied: pycountry in c:\users\user\anaconda3\lib\site-packages (24.6.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: world_bank_data in c:\users\user\anaconda3\lib\site-packages (0.1.4)
Requirement already satisfied: cachetools in c:\users\user\anaconda3\lib\site-packages (from world_bank_data) (5.3.3)
Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (from world_bank_data) (2.2.2)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from world_bank_data) (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas->world_bank_data) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas->world_bank_data) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas->world_bank_data) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas->world_bank_data) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests->world_bank_data) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->world_bank_data) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->world_bank_data) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->world_bank_data) (2025.4.26)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->world_bank_data) (1.16.0)

In [140]:
import pycountry
import world_bank_data as wb