In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv("aviation_data_updated (1).csv")

In [9]:
pip install pycountry world_bank_data

Collecting pycountry
  Downloading pycountry-24.6.1-py3-none-any.whl.metadata (12 kB)
Collecting world_bank_data
  Downloading world_bank_data-0.1.4-py2.py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: cachetools in c:\users\admin\anaconda3\lib\site-packages (from world_bank_data) (5.3.3)
Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (from world_bank_data) (2.2.2)
Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (from world_bank_data) (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas->world_bank_data) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas->world_bank_data) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas->world_bank_data) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\lib\site-packages (from pandas->world_bank_data) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\admin\anaconda3\lib\site-packages (from requests->world_bank_data) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests->world_bank_data) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests->world_bank_data) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests->world_bank_data) (2025.4.26)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->world_bank_data) (1.16.0)
Downloading pycountry-24.6.1-py3-none-any.whl (6.3 MB)
   ---------------------------------------- 0.0/6.3 MB ? eta -:--:--
   ----------------------- ---------------- 3.7/6.3 MB 27.3 MB/s eta 0:00:01
   ---------------------------------------- 6.3/6.3 MB 26.0 MB/s eta 0:00:00
Downloading world_bank_data-0.1.4-py2.py3-none-any.whl (10 kB)
Installing collected packages: pycountry, world_bank_data
Successfully installed pycountry-24.6.1 world_bank_data-0.1.4
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pycountry

# Load your aviation data (if not already loaded)
# df = pd.read_csv("aviation_data_updated (1).csv")

# Add country name column
def iso3_to_country_name(iso3):
    try:
        return pycountry.countries.get(alpha_3=iso3).name
    except:
        return None

df['country_name'] = df['iso3_country'].apply(iso3_to_country_name)

# Load population CSV (contains: Country Name, Country Code (ISO3), Year, Value)
pop_df = pd.read_csv("population.csv")

# Filter to the latest year
latest_year = pop_df['Year'].max()
pop_df = pop_df[pop_df['Year'] == latest_year]

# Rename and prepare for merging
pop_df = pop_df.rename(columns={
    'Country Code': 'iso3_country',
    'Value': 'population'
})

# Merge with original df on iso3_country
df = df.merge(pop_df[['iso3_country', 'population']], on='iso3_country', how='left')

# Preview
print(df[['iso3_country', 'country_name', 'population']].drop_duplicates().head(10))

     iso3_country          country_name  population
0             ABW                 Aruba    107359.0
26            AFG           Afghanistan  41454761.0
1072          AGO                Angola  36749906.0
1761          AIA              Anguilla         NaN
1787          ALA         Ã…land Islands         NaN
1838          ALB               Albania   2745972.0
1882          ARE  United Arab Emirates  10483751.0
2547          ARG             Argentina  45538401.0
4831          ARM               Armenia   2990900.0
4908          ASM        American Samoa     47521.0

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476411 entries, 0 to 476410
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   source_id              476411 non-null  int64
 1   iso3_country           476411 non-null  object
 2   subsector              476411 non-null  object
 3   start_time             476411 non-null  object
 4   end_time               476411 non-null  object
 5   source_type            476411 non-null  int64
 6   capacity               476411 non-null  int64
 7   capacity_factor        476411 non-null  int64
 8   activity               476411 non-null  int64
 9   emissions_factor       476411 non-null  int64
 10  emissions_quantity     476411 non-null  int64
 11  country_name           476257 non-null  object
 12  population             471621 non-null  float64
 13  gdp_usd                382793 non-null  float64
 14  hdi                    381361 non-null  float64
 15  hdi_category           381361 non-null  category
 16  energy_use_per_capita  381361 non-null  float64
 17  airport_count          353393 non-null  float64
 18  education_index        354236 non-null  float64
 19  education_category     354236 non-null  category
dtypes: category(2), float64(6), int64(7), object(5)
memory usage: 66.3+ MB

In [21]:
df.to_csv("aviation_population.csv", index=False)

In [40]:
gdp_data = [
    ("USA", 25000000000000), ("CHN", 18000000000000), ("JPN", 4200000000000), ("DEU", 4100000000000),
    ("IND", 3500000000000), ("GBR", 3300000000000), ("FRA", 3100000000000), ("ITA", 2500000000000),
    ("BRA", 2200000000000), ("CAN", 2100000000000), ("RUS", 2000000000000), ("KOR", 1800000000000),
    ("AUS", 1700000000000), ("ESP", 1600000000000), ("MEX", 1500000000000), ("IDN", 1400000000000),
    ("NLD", 1000000000000), ("SAU", 990000000000), ("TUR", 900000000000), ("CHE", 800000000000),
    ("ARG", 700000000000), ("SWE", 670000000000), ("POL", 650000000000), ("BEL", 630000000000),
    ("THA", 600000000000), ("IRN", 590000000000), ("NGA", 570000000000), ("AUT", 560000000000),
    ("NOR", 550000000000), ("ARE", 540000000000), ("ISR", 530000000000), ("ZAF", 500000000000),
    ("DNK", 490000000000), ("PHL", 480000000000), ("SGP", 460000000000), ("MYS", 450000000000),
    ("HKG", 440000000000), ("CHL", 430000000000), ("COL", 420000000000), ("FIN", 410000000000),
    ("PAK", 400000000000), ("IRL", 390000000000), ("VNM", 380000000000), ("CZE", 370000000000),
    ("ROU", 360000000000), ("NZL", 350000000000), ("PRT", 340000000000), ("GRC", 330000000000),
    ("HUN", 320000000000), ("KAZ", 310000000000), ("UKR", 300000000000), ("QAT", 290000000000),
    ("KWT", 280000000000), ("PER", 270000000000), ("EGY", 260000000000), ("ECU", 250000000000),
    ("SVK", 240000000000), ("MAR", 230000000000), ("ANG", 220000000000), ("SDN", 210000000000),
    ("ETH", 200000000000), ("KEN", 190000000000), ("TUN", 180000000000), ("BHR", 42000000000),
    ("LBN", 40000000000), ("OMN", 39000000000), ("JOR", 38000000000), ("LUX", 70000000000),
    ("BGD", 37000000000), ("UGA", 36000000000), ("TZA", 35000000000), ("GHA", 34000000000),
    ("BOL", 33000000000), ("PAN", 32000000000), ("BGR", 31000000000), ("HRV", 30000000000),
    ("LTU", 29000000000), ("SVN", 28000000000), ("EST", 27000000000), ("LVA", 26000000000),
    ("ISL", 25000000000), ("SRB", 24000000000), ("GTM", 23000000000), ("URY", 22000000000),
    ("CMR", 21000000000), ("LBY", 20000000000), ("AFG", 19000000000), ("ABW", 2900000000)
]

# Create DataFrame from the list of tuples
gdp_df = pd.DataFrame(gdp_data, columns=["iso3_country", "gdp_usd"])

# === Merge with your DataFrame ===
# Make sure df already exists (e.g., df = pd.read_csv("your_file.csv"))
df = df.merge(gdp_df, on='iso3_country', how='left')


# Optional: Preview
print(df[['iso3_country','emissions_quantity', 'emissions_per_gdp']].dropna().head())

  iso3_country  emissions_quantity  emissions_per_gdp
0          ABW                   1       3.448276e-10
1          ABW                   1       3.448276e-10
2          ABW                   1       3.448276e-10
3          ABW                   1       3.448276e-10
4          ABW                   1       3.448276e-10

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476411 entries, 0 to 476410
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   source_id           476411 non-null  int64
 1   iso3_country        476411 non-null  object
 2   subsector           476411 non-null  object
 3   start_time          476411 non-null  object
 4   end_time            476411 non-null  object
 5   source_type         476411 non-null  int64
 6   capacity            476411 non-null  int64
 7   capacity_factor     476411 non-null  int64
 8   activity            476411 non-null  int64
 9   emissions_factor    476411 non-null  int64
 10  emissions_quantity  476411 non-null  int64
 11  country_name        476257 non-null  object
 12  population          471621 non-null  float64
 13  gdp_usd             382793 non-null  float64
 14  hdi                 381361 non-null  float64
 15  hdi_category        381361 non-null  category
dtypes: category(1), float64(3), int64(7), object(5)
memory usage: 55.0+ MB

In [42]:
df.drop(columns=['emissions_per_gdp'], inplace=True)

In [48]:
df.drop(columns=['gdp_usd_x', 'gdp_usd_y'], inplace=True)

In [52]:
hdi_data = [
    ("USA", 0.921), ("CHN", 0.768), ("JPN", 0.925), ("DEU", 0.942), ("IND", 0.633),
    ("GBR", 0.929), ("FRA", 0.903), ("ITA", 0.892), ("BRA", 0.754), ("CAN", 0.936),
    ("RUS", 0.822), ("KOR", 0.925), ("AUS", 0.951), ("ESP", 0.905), ("MEX", 0.758),
    ("IDN", 0.705), ("NLD", 0.944), ("SAU", 0.875), ("TUR", 0.838), ("CHE", 0.962),
    ("ARG", 0.849), ("SWE", 0.945), ("POL", 0.880), ("BEL", 0.937), ("THA", 0.800),
    ("IRN", 0.774), ("NGA", 0.539), ("AUT", 0.914), ("NOR", 0.961), ("ARE", 0.890),
    ("ISR", 0.919), ("ZAF", 0.713), ("DNK", 0.940), ("PHL", 0.699), ("SGP", 0.939),
    ("MYS", 0.803), ("HKG", 0.949), ("CHL", 0.855), ("COL", 0.752), ("FIN", 0.940),
    ("PAK", 0.544), ("IRL", 0.945), ("VNM", 0.703), ("CZE", 0.900), ("ROU", 0.821),
    ("NZL", 0.937), ("PRT", 0.866), ("GRC", 0.887), ("HUN", 0.854), ("KAZ", 0.817),
    ("UKR", 0.773), ("QAT", 0.855), ("KWT", 0.831), ("PER", 0.762), ("EGY", 0.731),
    ("ECU", 0.759), ("SVK", 0.860), ("MAR", 0.683), ("ETH", 0.498), ("KEN", 0.601),
    ("TUN", 0.740), ("BHR", 0.875), ("OMN", 0.813), ("JOR", 0.729), ("LUX", 0.936),
    ("BGD", 0.661), ("UGA", 0.544), ("TZA", 0.549), ("GHA", 0.632), ("BOL", 0.703),
    ("PAN", 0.815), ("BGR", 0.816), ("HRV", 0.858), ("LTU", 0.882), ("SVN", 0.917),
    ("EST", 0.892), ("LVA", 0.863), ("ISL", 0.949), ("SRB", 0.802), ("GTM", 0.663),
    ("URY", 0.817), ("CMR", 0.583), ("LBY", 0.705), ("AFG", 0.478), ("ABW", 0.850)
]

hdi_df = pd.DataFrame(hdi_data, columns=["iso3_country", "hdi"])

# Step 2: Merge into your main DataFrame (df)
df = df.merge(hdi_df, on='iso3_country', how='left')

# Step 3: Optional â€” create HDI categories
df['hdi_category'] = pd.cut(
    df['hdi'],
    bins=[0, 0.55, 0.70, 0.80, 0.90, 1],
    labels=['Low', 'Medium', 'High', 'Very High', 'Exceptional']
)

# Step 4: Preview
print(df[['iso3_country', 'hdi', 'hdi_category']].dropna().head())

  iso3_country   hdi hdi_category
0          ABW  0.85    Very High
1          ABW  0.85    Very High
2          ABW  0.85    Very High
3          ABW  0.85    Very High
4          ABW  0.85    Very High

In [56]:
energy_data = [
    ("USA", 6700), ("CHN", 2400), ("JPN", 3900), ("DEU", 3400), ("IND", 700),
    ("GBR", 2900), ("FRA", 3100), ("ITA", 2700), ("BRA", 1500), ("CAN", 7200),
    ("RUS", 5000), ("KOR", 5800), ("AUS", 5800), ("ESP", 2400), ("MEX", 1800),
    ("IDN", 900), ("NLD", 4400), ("SAU", 6800), ("TUR", 1700), ("CHE", 3100),
    ("ARG", 1800), ("SWE", 5500), ("POL", 2600), ("BEL", 4500), ("THA", 2200),
    ("IRN", 2800), ("NGA", 800), ("AUT", 3200), ("NOR", 6200), ("ARE", 7400),
    ("ISR", 3200), ("ZAF", 2600), ("DNK", 3200), ("PHL", 900), ("SGP", 6100),
    ("MYS", 2900), ("HKG", 2900), ("CHL", 2000), ("COL", 1300), ("FIN", 6000),
    ("PAK", 550), ("IRL", 3200), ("VNM", 950), ("CZE", 3400), ("ROU", 2100),
    ("NZL", 4800), ("PRT", 2300), ("GRC", 2300), ("HUN", 2400), ("KAZ", 3500),
    ("UKR", 2300), ("QAT", 16900), ("KWT", 8900), ("PER", 1100), ("EGY", 1000),
    ("ECU", 1000), ("SVK", 2700), ("MAR", 800), ("ETH", 500), ("KEN", 600),
    ("TUN", 1200), ("BHR", 9400), ("OMN", 8800), ("JOR", 1600), ("LUX", 7400),
    ("BGD", 600), ("UGA", 500), ("TZA", 450), ("GHA", 700), ("BOL", 1000),
    ("PAN", 2000), ("BGR", 2200), ("HRV", 2200), ("LTU", 2500), ("SVN", 2600),
    ("EST", 3200), ("LVA", 2200), ("ISL", 6900), ("SRB", 2100), ("GTM", 900),
    ("URY", 2300), ("CMR", 600), ("LBY", 2900), ("AFG", 300), ("ABW", 2700)
]

energy_df = pd.DataFrame(energy_data, columns=["iso3_country", "energy_use_per_capita"])

df = df.merge(energy_df, on='iso3_country', how='left')


# kg of oil per year

In [60]:
# Step 1: Define approximate number of airports per country (ISO3 code)
airport_data = [
    ("USA", 13500), ("CAN", 1500), ("BRA", 4000), ("MEX", 1700), ("AUS", 600), ("RUS", 1200),
    ("CHN", 240), ("IND", 350), ("DEU", 540), ("FRA", 460), ("GBR", 460), ("ARG", 1100),
    ("COL", 750), ("VEN", 400), ("ZAF", 450), ("IDN", 680), ("JPN", 100), ("THA", 100),
    ("PHL", 250), ("ESP", 150), ("ITA", 130), ("SAU", 210), ("IRN", 320), ("TUR", 100),
    ("PAK", 150), ("EGY", 80), ("ETH", 60), ("KEN", 100), ("NGA", 70), ("ARE", 50),
    ("QAT", 4), ("SGP", 2), ("KOR", 110), ("NZL", 100), ("CHL", 360), ("PER", 200),
    ("UKR", 180), ("POL", 100), ("SWE", 230), ("NOR", 100), ("FIN", 150), ("BHR", 4),
    ("OMN", 10), ("JOR", 5), ("LUX", 2), ("ISR", 25), ("BGD", 20), ("VNM", 25),
    ("MAR", 70), ("GHA", 10), ("TZA", 20), ("UGA", 10), ("CMR", 15), ("AFG", 24),
    ("ABW", 1)
]

# Step 2: Create DataFrame
airport_df = pd.DataFrame(airport_data, columns=["iso3_country", "airport_count"])

# Step 3: Merge with your existing df
df = df.merge(airport_df, on='iso3_country', how='left')

In [64]:
# Step 1: Manually define education index (scale 0 to 1)
education_index_data = [
    ("USA", 0.920), ("CAN", 0.910), ("GBR", 0.910), ("FRA", 0.890), ("DEU", 0.900), ("AUS", 0.930),
    ("JPN", 0.940), ("KOR", 0.935), ("CHN", 0.750), ("IND", 0.560), ("BRA", 0.700), ("RUS", 0.850),
    ("ITA", 0.880), ("ESP", 0.870), ("MEX", 0.720), ("ARG", 0.790), ("ZAF", 0.650), ("NGA", 0.500),
    ("EGY", 0.580), ("KEN", 0.520), ("ETH", 0.410), ("ARE", 0.880), ("QAT", 0.890), ("SAU", 0.860),
    ("IRN", 0.750), ("PAK", 0.450), ("IDN", 0.660), ("TUR", 0.770), ("ISR", 0.930), ("SGP", 0.950),
    ("NZL", 0.910), ("NOR", 0.960), ("SWE", 0.950), ("DNK", 0.945), ("FIN", 0.940), ("CHE", 0.930),
    ("NLD", 0.925), ("POL", 0.850), ("ROU", 0.800), ("UKR", 0.810), ("THA", 0.740), ("PHL", 0.700),
    ("VNM", 0.720), ("BGD", 0.610), ("LUX", 0.915), ("OMN", 0.810), ("JOR", 0.770), ("BHR", 0.865),
    ("ISL", 0.940), ("LBN", 0.840), ("COL", 0.720), ("CHL", 0.770), ("PER", 0.710), ("ECU", 0.700),
    ("MAR", 0.600), ("TUN", 0.670), ("CMR", 0.530), ("AFG", 0.300), ("ABW", 0.860)
]

# Step 2: Create DataFrame
education_df = pd.DataFrame(education_index_data, columns=["iso3_country", "education_index"])

# Step 3: Merge into your main DataFrame
df = df.merge(education_df, on='iso3_country', how='left')

# Step 4: Optional â€” create tiers
df['education_category'] = pd.cut(
    df['education_index'],
    bins=[0, 0.55, 0.7, 0.85, 1],
    labels=["Low", "Medium", "High", "Very High"]
)

In [72]:
df.head()

,source_id,iso3_country,subsector,start_time,end_time,source_type,capacity,capacity_factor,activity,emissions_factor,emissions_quantity,country_name,population,gdp_usd,hdi,hdi_category,energy_use_per_capita,airport_count,education_index,education_category
0,3170555,ABW,domestic-aviation,1/1/2023 0:00,1/31/2023 0:00,1,1,1,1,1,1,Aruba,107359.0,2.900000e+09,0.85,Very High,2700.0,1.0,0.86,Very High
1,3170555,ABW,domestic-aviation,2/1/2023 0:00,2/28/2023 0:00,1,1,1,1,1,1,Aruba,107359.0,2.900000e+09,0.85,Very High,2700.0,1.0,0.86,Very High
2,3170555,ABW,domestic-aviation,3/1/2023 0:00,3/31/2023 0:00,1,1,1,1,1,1,Aruba,107359.0,2.900000e+09,0.85,Very High,2700.0,1.0,0.86,Very High
3,3170555,ABW,domestic-aviation,4/1/2023 0:00,4/30/2023 0:00,1,1,1,1,1,1,Aruba,107359.0,2.900000e+09,0.85,Very High,2700.0,1.0,0.86,Very High
4,3170555,ABW,domestic-aviation,5/1/2023 0:00,5/31/2023 0:00,1,1,1,1,1,1,Aruba,107359.0,2.900000e+09,0.85,Very High,2700.0,1.0,0.86,Very High

In [74]:
df.to_csv("aviation_updated.csv", index=False)